@model IEnumerable<VehicleServiceModel>

@{
    ViewBag.Title = "For Approval";
}
<h2 class="text-center">@ViewBag.Title</h2>

<hr />
<h4>Vehicles to approve</h4>
@if (!Model.Any())
{
    <h2 class="text-center">You have no vehicles to approve!</h2>
}
<div class="row">
    @foreach (var vehicle in Model)
    {
        @await Html.PartialAsync("~/Areas/Admin/Views/Shared/_ApproveVehiclePartial.cshtml", vehicle)
    }
</div>